@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif; */

/* font-family: 'Lexend Deca', sans-serif; */

:root{
    /* (main background) */
    --Very-dark-blue: hsl(233, 47%, 7%);
    /* (card background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    /* (accent) */
    --Soft-violet: hsl(277, 64%, 61%);
    --Soft-violet2:rgba(76, 36, 97, 0.808);
    /* (mainheading,stats) */
    --White: hsl(0, 0%, 100%);
    /* -(main paragraph) */
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /* (stat headings) */
    /* --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); */
}
html {
    box-sizing: border-box;
    /* font-size: 62.5%;  1 rem = a 10px */
    font-family: 'Inter', sans-serif;
   
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    /* height: 100vh; */
    background-color: var(--Very-dark-blue);
    color: var(--Slightly-transparent-white);
  }
  
  main{
    background-color: var(--Dark-desaturated-blue);
    height: 440px;
    width: 1080px;
    margin: 20vh auto 0 auto;
    /* margin: 0 auto; */
    /* margin-top: 5rem; */
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    

  }
  main article{
    position: relative;
    width: 540px;
    padding: 2rem 4rem;
  }

  h1>span {
    color: var(--Soft-violet);
  }

  main article h1{
    color: var(--White);
    font-weight: 700;
  }

  main article p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
  }
  main > article > div{
    margin-top: 3rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    align-content: stretch;
    color: white;

  }
  main > article > div  > div  p{
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    line-height: 0rem;
    font-size: 15px;
    color: var(--Slightly-transparent-white);
    
  }
  main .img-header{
    position: relative;
    height: 440px;
    width: 540px;     
     background-image: url('../images/image-header-desktop.jpg');   
    background-color: var(--Soft-violet);

    background-blend-mode: multiply;

   
  }
  /* main .img-header::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
  } */

  @media (max-width: 1100px) {
    body{
      height: auto;
    }
  
    main{
   
      height: auto;
      width: 300px;
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column-reverse;      
  
    }
    main .img-header{
      height: 220px;
      background-image: url('../images/image-header-mobile.jpg');
      background-color: var(--Soft-violet);

      background-blend-mode: multiply;
      background-size: contain;
      
    }
    main article{
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
    main article h1{
    font-size: 28px;
    }
  main > article > div{
    margin-top: 1rem;
    flex-direction: column;
    grid-gap: 0;
    margin-bottom: 1rem;
  }
    
  }
  